<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.vinepair.com/wp-content/uploads/2015/06/fake-cocktail-bar-liqueurs.jpg);">
  <div class="container p-3">
    <h1>Welcome to Sophia's Cocktail Bar</h1>
    <p>Enjoy our creative drinks!</p>
  </div>
</div>



<p><%=link_to "create a cocktail", new_cocktail_path %></p>


<% @cocktails.each do |cocktail| %>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random)">
  <%= cocktail.name %>
</div>

<% end %>

